#article
{
    background-color: rgba(43, 43, 43, 0.8);
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 1.15em;
    color: whitesmoke;
    border-radius: 5px;
    box-shadow: 13px 13px 15px 1px rgba(0,0,0,0.75);
    padding-bottom: 35px;
}
.title_article
{
    height: 70px;
    border-bottom: 1px solid #dd0322;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.3em;
    color: #dd0322;
    font-weight: 800;
    text-align: left;
    line-height: 70px;
    padding-left: 30px;
}
.stream {
    border: none;
    overflow: hidden;
    height: 90px;
    width: 320px;
}
#wrapper_radio {
    display: flex;
    margin: auto;
    width: 800px;
    opacity: 0;
    transition: all 1s;
}
#wrapper_program {
    width: 800px;
    opacity: 0;
    margin: auto;
    margin-bottom: 35px;
    transition: all 1s;
}
#wrapper_metadata {
    margin-left: 30px;
    margin-bottom: 40px;
    text-align: left;
}
#wrapper_iframe {
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    margin: auto;
    box-shadow: 0px 0px 45px 15px rgba(0,0,0,1);
    border-radius: 9.3051px;
}
#wrapper_current_song {
    position: relative;
}
#wrapper_current_metadata {
    font-family: 'Latin Modern Mono', Arial, Helvetica, sans-serif;
    font-size: 100%;
    float: left;
    color: #dd0322;
    width: 200px;
    word-wrap: break-word;
    font-weight: 700;
    text-align: left;
}
.title_radio {
    font-size: 1.4rem;
    line-height: 1.44444;
    font-weight: 700;
    margin: 15px 0 15px 0;
    padding: 0 0 0 15px;
    font-style: normal;
    color: #dd0322;
    border-left: 3px solid #5a5a5a;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 6px 5px 4px rgba(0, 0, 0, 1);
}
.metadata {
    width: 320px;
    height: auto;
    border-top: 2px solid #dd0322;
    border-left: 2px solid #dd0322;
    border-right: 2px solid #dd0322;
    border-radius: 3px;
    box-shadow: 0px 0px 45px 15px rgba(0,0,0,1);
}
.track {
    border-bottom: 2px solid #dd0322;
    height: auto;
    display: flex;
    height: 70px;
    background-color: #590000;
    box-shadow: inset 0px 0px 41px 30px rgba(0,0,0,0.75);
    cursor: pointer;
    position: relative;
    transition: all 300ms;
    overflow: hidden;
}
.track:hover {
    filter: brightness(200%);
}
.wrapp_thumbs {
    box-shadow: inset 0px 0px 41px 30px rgba(0,0,0,0.75);
}
.thumbnails {
    width: 70px;
    height: auto;
}
.wrap_meta {
    margin: none;
    width: 100%;
    font-family: 'Latin Modern Mono', Arial, Helvetica, sans-serif;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5px;
    font-size: 80%;
    color: #d2d2d2;
    
}
.name_metadata {
    text-align: left;
}
.artist_metadata {
    text-align: right;
    margin: none;
}
.current_cover {
    float: right;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 45px 15px rgba(0,0,0,1);
}
.current_cover:hover {
    filter: brightness(200%);
}
.progress_bar {
    width: 200px;
    float: right;
    height: auto;
    position: absolute;
    left: 200px; /* C'est la meme que la largeur du wrapper */
    border-radius: 50%;
    box-shadow: inset 0px 0px 41px 30px rgba(0,0,0,0.75);
    cursor: pointer;
}
.icon_yt {
    position: absolute;
    font-size: 300%;
    float: right;
    left: 270px;
    top: 110px;
    opacity: 0.6;
    cursor: pointer;
    transition: all 300ms;
}
.icon_yt:hover {
    font-size: 400%;
    opacity: 1;
    color: #dd0322;
    top: 105px;
    left: 257px;
}
.thumb_yt {
    position: absolute;
    font-size: 150%;
    float: left;
    left: 20px;
    top: 20px;
    opacity: 0.6;
    transition: all 300ms;
}
.thumb_yt_hover {
    font-size: 200%;
    opacity: 1;
    color: #dd0322;
    top: 15px;
    left: 15px;
}
.current_audience  {
    margin: none;
    font-family: 'Latin Modern Mono', Arial, Helvetica, sans-serif;
    padding-right: 5%;
    font-size: 70%;
    color: #d2d2d2;
}
#overlay {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -500;
	transition-property: all;
	transition-duration: 400ms;
}
#viewer {
	position: fixed;
	top: 150%;
	width: 80%;
    height: 80%;
    margin: auto;
    margin-bottom: -11%;
	z-index: 1000;
	transition: all 400ms;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgb(15, 0, 0);
    box-shadow: 0px 0px 24px 25px rgba(0,0,0,0.5);
    color: antiquewhite;
    display: block;
}
.video_frame {
    width: 100%;
    height: 90%;
    margin-top: -42px;
}
.title_video
{
    margin-bottom: none;
	border-bottom: 1px solid #dd0322;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #dd0322;
	font-weight: 800;
	text-align: left;
    padding-left: 30px;
    font-size: 200%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    text-shadow: 6px 5px 4px rgba(0, 0, 0, 1);
    margin-top: 16px;
}
.openModal {
	cursor: pointer;
	width: auto;
    font-size: 40px !important;
    transition: all 300ms;
    transform-origin: center;
}
.openModal:hover {
    color: #d2d2d2;
    transform: rotate(90deg);
}
#table_passage {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    border-radius: 3px;
    font-family: 'Latin Modern Mono', Arial, Helvetica, sans-serif;
    font-size: 120%;
    color: #d2d2d2;
    filter: brightness(120%);
}
#table_passage, td, th {
    border: 2px solid #dd0322;
    padding-left: 20px;
    padding-right: 5%;
}
#table_passage tr {
    background-color: #590000;
    box-shadow: inset 0px 0px 41px 30px rgba(0,0,0,0.75);
    height: 70px;
    text-align: left;
}
.caption {
    font-weight: 600;
}
#modal_discord {
    position: fixed;
	top: 150%;
	width: 80%;
    height: 80%;
    margin: auto;
    margin-bottom: -11%;
	z-index: -1000;
	transition: all 400ms;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgb(15, 0, 0);
    box-shadow: 0px 0px 24px 25px rgba(0,0,0,0.5);
    color: antiquewhite;
    display: block;
}
.discord_embed {
    width: 100%;
    height: 100%;
}
.open_discord {
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
	margin: auto;
	display: block;
	color: #dd0022;
	font-size: 0.8em;
	font-family: font_metal;
	cursor: pointer;
	border: 2px solid;
	padding: 5px;
	border-radius: 7px;
	margin-top: 7px;
	margin-bottom: 10px;
    transition: all 400ms;
    opacity: 0;
}
.open_discord:hover {
    border-color: rgb(38, 38, 38);
	background-color: #dd0021a9;
	color: rgb(38, 38, 38);
}
.open_discord p {
    width: 100%;
    height: 100%;
}
#wrapper_articles {
    max-width: 800px;
    margin: auto;
    margin-bottom: 50px;
    opacity: 0;
}
#disp_articles {
    height: auto;
    border-top: 2px solid #dd0322;
    border-left: 2px solid #dd0322;
    border-right: 2px solid #dd0322;
    border-radius: 3px;
    box-shadow: 0px 0px 45px 15px rgba(0, 0, 0, 1);
}
.article {
    border-bottom: 2px solid #dd0322;
    height: auto;
    display: flex;
    height: 70px;
    background-color: #590000;
    box-shadow: inset 0px 0px 41px 30px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    position: relative;
    transition: all 300ms;
}
.article:hover {
    filter: brightness(200%);
}
.article a {
    margin: none;
    width: 100%;
    font-family: 'Latin Modern Mono', Arial, Helvetica, sans-serif;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    color: #d2d2d2;
    overflow: hidden;
    white-space: nowrap;
    justify-content: space-between;
    font-size: 1.2em;
}
/* Error message */
#error_radio {
    width: -moz-fit-content;
    width: fit-content;
    width: -webkit-fit-content;
    margin: auto;
    height: 100px;
    display: none;
}
.error_title {
	font-family: font_metal;
    color: #dd0322;
    font-size: larger;
    word-wrap: break-word;
}



/* !!! LOADER !!! */
@keyframes lds-dual-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes lds-dual-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.lds-css {
    width: -moz-fit-content;
    width: fit-content;
    width: -webkit-fit-content;
    margin: auto;
    height: -moz-fit-content;
    height: fit-content;
    height: -webkit-fit-content;
}
.lds-dual-ring {
    position: relative;
}
.lds-dual-ring div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 8px solid #000;
    border-color: #ff0000 transparent #ff0000 transparent;
    -webkit-animation: lds-dual-ring 1s linear infinite;
    animation: lds-dual-ring 1s linear infinite;
}
.lds-dual-ring {
    width: -moz-fit-content;
    width: fit-content;
    width: -webkit-fit-content;
    margin: auto;
    height: -moz-fit-content;
    height: fit-content;
    height: -webkit-fit-content;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
.ajax_status {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    width: -webkit-fit-content;
    margin: auto;
}