@font-face {
	font-family: font_metal;
	src: url(/src/fonts/blackthorns-black.ttf);
}
@font-face {
	font-family: lato_heavy;
	src: url(/src/fonts/lato/Lato-Heavy.woff);
	src: url(/src/fonts/lato/Lato-Heavy.ttf);
	src: url(/src/fonts/lato/Lato-Heavy.woff2);
}
body
{
	font-size: 100%;
	color: black;
	margin: 0px;
	padding: 0px;
	font-family: 'Times New Roman';
	text-align: justify;
	background-attachment: fixed;
	user-select: none;
	width: 100%;
    background-image: url('../images/background.jpg');
	background-attachment: fixed;
	background-size: cover;
	word-wrap: break-word;
}
ul 
{
	list-style:none;
	margin:0;
	padding:0;
}
a
{
	all: unset;
}
#wrapper
{
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
	overflow-x: hidden;
}

	/*!!!!!! HEADER !!!!!!*/
#top
{
	margin-top: 30px;
	border-radius: 5px;
	box-shadow: 13px 13px 15px 1px rgba(0,0,0,0.75);
}
#header
{
	display: flex;
	height: 125px;
	border-bottom: 1px solid darkred;
	background-color: rgba(47,47,47, 0.8);
	padding-top: 50px;
	position: relative;
}
.title
{
	font-size: 2.5rem;
	color: darkred;
	text-decoration: none;
	font-family: lato_heavy;
	margin-left: 50px;
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
}
.separator_header
{
	margin: 0;
	margin-left: 50px;
	height: 125px;
	margin-top: -25px;
	border-color: rgb(38, 38, 38);
}
.slogan
{
	margin-top: 0;
	margin-right: 50px;
	font-size: x-large;
	color: rgb(90, 88, 88);
	font-family: font_metal;
	font-weight: 100;
	font-size: x-large;
	padding-left: 50px;
	display: flex;
	word-wrap: break-word;
}
.search_wrapper {
	display: flex;
	margin-right: 50px;
	height: 50px;
	align-items: center;
	border-radius: 5px;
	padding-left: 5px;
}
.search_wrapper_input {
	position: absolute;
	right: -10px;
	background-color: rgb(43, 42, 42);
	box-shadow: -22px 0px 22px -12px rgba(47, 47, 47, 0.8);
	border: solid 4px darkred;
}
.search_wrapper_results {
	border-bottom: none;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.search_wrapper input {
	border: none;
	display: none;
	width: 370px;
	height: 100%;
	transition: all 600ms;
	background: none;
	font-size: 1.5em;
	color: rgb(90, 88, 88);
}
.search_wrapper input::placeholder {
	color: rgb(66, 66, 66);
}
.search_wrapper input::-webkit-input-placeholder {
	color: rgb(66, 66, 66);

}
.search_wrapper > i {
	font-size: 40px;
	color: darkred;
	transition: all 600ms;  
	cursor: pointer;
	height: 100%;
	margin-top: 10px;
}
.search_wrapper > i:hover {
	transform: scale3d(1.3, 1.3, 1.3);
}
.results_wrapper {
	position: absolute;
	right: 40px;
	top: 104px;
	width: 375px;
	border: solid 4px darkred;
	border-top: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	display: none;
	z-index: 500;
	background-color: rgb(43, 42, 42);
	max-height: 459px;
	overflow: auto;
	box-shadow: inset -2px 0px 5px 5px rgb(43, 42, 42);
}
.el_result {
	display: flex;
	height: 80px;
	border-top: 1px darkred solid;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	color: #dd0322;
	padding: 5px;
	align-items: center; 
	font-size: 1.2em;
	cursor: pointer;
	transition: all 400ms;
}
.el_result:hover {
	background-color: rgb(29, 29, 29);

}
.el_result:hover .icon_search {
	border-color: #dd0322 !important;
	color: #dd0322 !important;
}
.icon_search {
	font-size: 45px;
	padding-right: 10px;
	border-right: 3px solid #5a5a5a;
	margin-right: 10px;
	color: #5a5a5a;
	transition: all 400ms;
}
.button_menu_mobile {
	display: none;
	cursor: pointer;
	transition: all 500ms;
	margin-right: 10px;
	margin-left: 40px;
	font-size: 50px;
	height: 50px;
	color: #dd0322;
	float: right;
	z-index: 4500;
}
.button_menu_mobile:hover {
	color: black;
}
#nav
{
	height: 50px;
	width: 100%;
	background-color: rgba(26, 26, 26, 0.5);
	font-family: font_metal;
	color: rgb(102, 102, 102);
	font-size: 1vw;
}
#nav_mobile {
	background-color: rgb(29, 29, 29);
	font-family: font_metal;
	color: rgb(102, 102, 102);
	margin: 0;
	width: 100%;
	height: auto;
	position: absolute;
	display: none;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 5000;
	box-shadow: 3px 32px 37px -8px rgba(0,0,0,0.41);
	transform: translate3d(0, 0, 0);
}
#nav_tab 
{
	height: 100%;
	width: 100%;
	display: flex;
}
#nav_tab_mobile {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}
#nav_tab > li
{
	height: 100%;
	width: 16.6666666% !important;
	z-index: 100;
}
#nav_tab_mobile > li {
	width: 100%;
	height: auto;
	transition: all 400ms;
	transform: translate3d(0, 0, 0);
}
#nav_tab > li > a
{
	height: 100%;
	width: 100%;
	display: inline-block;
	border-right: 1px solid rgb(29, 29, 29);
	text-align: center;
	line-height: 45px;
	cursor: pointer;
	box-shadow: inset 200px 193px 49px -190px rgba(0,0,0,0.35);
	transition: 400ms all;
}
#nav_tab_mobile > li > a {
	height: 100%;
	width: 100%;
	display: inline-block;
	text-align: left;
	cursor: pointer;
	box-shadow: inset 200px 193px 49px -190px rgba(0, 0 ,0 ,0.35);
	transition: all 400ms;
	line-height: 55px;
	padding-left: 30px;
	transform: translate3d(0, 0, 0);
}
#nav_tab > li > a:hover
{
	background-color: rgb(165, 1, 1);
}
#nav_tab_mobile > li > a:hover {
	color: #dd0322;
}
#nav_tab > li > span
{
	height: 100%;
	width: 100%;
	display: block;
	border-right: 1px solid rgb(29, 29, 29);
	text-align: center;
	line-height: 45px;
	cursor: pointer;
	box-shadow: inset 200px 193px 49px -190px rgba(0,0,0,0.35);
	transition: all 400ms;
}
#nav_tab_mobile > li > span {
	height: auto;
	width: 100%;
	display: flex;
	cursor: pointer;
	box-shadow: inset 200px 193px 49px -190px rgba(0,0,0,0.35);
	transition: all 400ms;
	line-height: 55px;
	padding-left: 30px;
	transform: translate3d(0, 0, 0);

}
.arrow_sub_nav {
	right: 45px !important;
	position: absolute;
	font-size: 30px;
	margin-top: 10px;
	transition: all 500ms;
	transform: translate3d(0, 0, 0);

}
#nav_tab > li > ul 
{
	display: none;
	border-radius: 0px 0px 5px 5px;
	width: 140%;
	top: 45px;
	left: 0px;
}
#nav_tab_mobile > li > ul {
	display: none;
	border-radius: 0px 0px 5px 5px;
	width: 100%;
	border-top: 1px solid #dd0022;
	-webkit-transform: translate3d(-100%);
	transform: translate3d(-100%);
	will-change: transform;
}
#nav_tab > li > ul > li
{
	height: 45px;
	background-color: rgb(40,40,40);
	text-align: left;
	line-height: 40px;
	padding-left: 20px;
	cursor: pointer;
	border-bottom: 1px solid rgb(66, 0, 0); 
	transition: all 400ms;
	box-shadow: inset 200px 193px 49px -190px rgba(0,0,0,0.35);
}
#nav_tab_mobile > li > ul > li {
	width: 100%;
	height: 55px;
	background-color: rgb(29,29,29);
	text-align: left;
	line-height: 55px;
	padding-left: 50px;
	cursor: pointer;
	transition: all 400ms;
	box-shadow: inset 200px 193px 49px -190px rgba(0, 0, 0, 0.35);
	transform: translate3d(0, 0, 0);

}
#nav_tab > li > ul > li:hover
{
	background-color: rgb(160, 0, 0);
	color: rgb(200, 200, 200);
	box-shadow: inset 200px 193px 49px -190px rgba(0,0,0,0.35);
}
#nav_tab_mobile > li > ul > li:hover {
	color: #dd0322;
}
#nav_tab > li > ul > li > a, #nav_tab_mobile > li > ul > li > a 
{
	display: block;
	height: 100%;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#overlay_menu_mobile {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	display: none;
	z-index: 4000;
	top: 0;
	left: 0;
}
#search_input_mobile { 
	display: block;
	height: 55px;
	width: 100%;
	padding-left: 30px;
	padding-right: 10px;
	border: none;
	background: none;
    box-shadow: inset 200px 193px 49px -190px rgba(0, 0 ,0 ,0.35);
	font-family: font_metal;
	font-size: 1em;
	transition: all 400ms;
	color: rgb(102, 102, 102);
}
#search_input_mobile::placeholder {
	color: #dd0322;
	opacity: 1 !important;
}
.results_wrapper_mobile {
	position: absolute;
	width: 100%;
	box-shadow: inset -2px 0px 5px 5px rgb(43, 42, 42);
	z-index: 5000;
	bottom: 55px;
	background-color: rgb(43, 42, 42);
	max-height: 330px;
	display: none;
	overflow: auto;
}
.result_el_mobile {
	height: 55px;
	display: flex;
	border-top: 1px darkred solid;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	color: #dd0322;
	padding: 5px;
	align-items: center; 
	font-size: 1em;
	cursor: pointer;
	transition: all 400ms;
}
/* !!!!!! FOOTER !!!!!! */

#footer 
{
	background-color: rgba(47,47,47, 0.8);
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 5px;
	box-shadow: 13px 13px 15px 1px rgba(0,0,0,0.75);
}
#social_network 
{
	display: flex;
}
.change_notif {
	width: fit-content;
	width: -moz-fit-content;
	margin: auto;
	display: block;
	color: #dd0022;
	font-size: 1.25em;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	cursor: pointer;
	border: 2px solid;
	padding: 5px;
	border-radius: 7px;
	margin-top: 7px;
	margin-bottom: 10px;
	transition: all 400ms;
}
.change_notif a {
	width: 100%;
	height: 100%;
}
.change_notif:hover {
	border-color: rgb(38, 38, 38);
	background-color: #dd0021a9;
	color: rgb(38, 38, 38);
}
.credit, .terms
{
	color: whitesmoke;
	text-align: center;
	font-size: 1.25em;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.credit {
	padding-bottom: 20px;
}
.contact_mail , .terms a
{
	color: #dd0322;
	cursor: pointer;
}
.contact_mail:hover 
{
	text-decoration: underline;
}
@media only screen and (min-width: 1500px) {
	#nav {
		font-size: 0.7vw;
	}
}
@media only screen and (max-width: 800px) {
	body {
		overflow-x: hidden;
	}
	.slogan, .separator_header, #nav {
		display: none;
	}
	.title {
		margin-left: 5%;
		font-size: 2rem;
		text-align: center;
	}
	.button_menu_mobile {
		display: inline-block;
	}
	#header {
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.search_wrapper {
		display: none;
	}
	.el_result {
		height: 55px;	
		font-size: 1em;
	}
}
@media only screen and (max-width: 340px) {
	.title {
		font-size: 1.5rem;
	}
}

